.buttonList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.buttonList input {
  width: 5rem;
  height: 5rem;
  margin: 0.1rem;
}
/* 
@media (min-width: 375px) {
  .buttonList input {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.1rem;
  }
}

@media (min-width: 768px) {
  .buttonList input {
    width: 3rem;
    height: 3rem;
    margin: 0.1rem;
  }
}

@media (min-width: 992px) {
  .buttonList input {
    width: 4rem;
    height: 4rem;
    margin: 0.1rem;
  }
} */
