.display input {
  line-height: 3rem;
  margin-top: 1rem;
  text-align: right;
  font-size: 2rem;
}
/* 
@media (min-width: 375px) {
  .display {
    line-height: 1rem;
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .display {
    line-height: 1rem;
    margin-bottom: 0.5rem;
    text-align: right;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .display {
    line-height: 3rem;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 2rem;
  }
} */
