.container {
  border: 1px solid #00000021;
  border-radius: 0.5rem;
  width: 400px !important;
  margin: 1rem;
  min-width: 400px;
  background-color: #a6808c;
}
/* 
.content {
  width: 100%;
  border: 1px solid #00000021;
  justify-content: center;
  padding: 2rem;
}

@media (min-width: 375px) {
  .content {
    width: 95%;
    height: 500px;
  }
}

@media (min-width: 768px) {
  .content {
    height: 500px;
    width: 70%;
  }
}

@media (min-width: 992px) {
  .content {
    height: 100%;
    width: 50%;
  }
} */
